.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 90px;

  .sing-up-container {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: rgb(231, 233, 233);
    margin-bottom: -100px;
    flex-direction: column;

    box-shadow: 1px -7px 17px 23px rgba(159, 159, 159, 0.61);
    align-items: center;
    border-radius: 10px 400px 10px;
    h2 {
      font-size: 34px;
      transform: rotate(-2deg);
      transform: skewX(-10deg);
      text-shadow: 1px 1px 2px black;
    }

    .title-singup {
      font-size: 20px;
      transform: rotate(-2deg);
      transform: skewX(-10deg);
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        text-align: center;
        margin-top: 20px;
        width: 300px;
        height: 30px;
        border: none;
        border-bottom: 1px solid black;
        background-color: rgb(231, 233, 233);
        border-radius: 30px;
        &:focus {
          outline: none;
        }
      }
    }
    .btn-div {
      display: flex;
      flex-grow: 1;
      justify-content: center;

      .btn {
        margin-top: 30px;
        border-radius: 10px;
        font-size: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center !important;
        text-align: center;
        width: 200px;
        height: 40px;
        border: 1px solid #ccc;
        cursor: pointer;
        &:hover {
          transition: all 1s;
          transform: scale(1.1);
          background-color: rgb(241, 237, 231);
        }
      }
    }
    .back-signIn {
      margin-left: 90px;
      margin-top: 20px;
      font-size: 20px;
      width: 137px;
      color: rgb(140, 140, 255);
      &:hover {
        border-bottom: 1px solid rgb(140, 140, 255);
        border-bottom-width: 60%;
        cursor: pointer;
      }
    }
  }
}
