.home-container {
  text-align: center;
  padding: 20px;

  .background-car {
    background-size: cover;
    width: 203vh;
    height: 105vh;
    position: absolute;
    opacity: 0.9;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.car-list-container {
  position: relative;
  overflow: hidden;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.car-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  transition: transform 0.3s;
  justify-content: flex-start;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.car-card {
  display: grid;

  background-color: #f2f2f2;
  width: 1000px;
  height: 650px;
  border-radius: 10px;
  opacity: 0.6;
  transform: scale(0.9);
  transition: opacity 0.3s, transform 0.3s;
  text-align: center;
  padding: 20px;
  scroll-snap-align: start;
  transition: all 1s;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    transform: scale(0.95);
    background-color: rgb(150, 150, 150);
    cursor: pointer;
    opacity: 0.9;
    .model-box {
      box-shadow: 5px 5px 7px gray;
    }
    .car-card-title {
      color: white;
      transform: scale(1.2);
    }
  }
}

.car-card.active {
  opacity: 1;
  transform: scale(1.1);
}

.car-card-title {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: bold;
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 40px;
  transition: all 1s;
  margin-bottom: 60px;
}

.model-details {
  padding: 0;
  gap: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 70px;
  font-family: cursive;
}

.model-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 160px;

  h3 {
    border-left: 1px solid gray;
    border-radius: 20px;
    background-color: rgba(222, 222, 222, 0.582);
  }
  p {
    border-bottom: 1px solid gray;
    text-shadow: 2px 2px 3px rgb(145, 145, 145);
  }
}

.slider-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  display: flex;
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
  .slider-button-right {
    cursor: pointer;
    background-color: #f2f2f2a0;
    border: none;
    border-radius: 10px;
  }
  .slider-button-left {
    cursor: pointer;
    background-color: #f2f2f2a0;
    border: none;
    border-radius: 10px;
  }
}
.currentSlot {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  font-size: large;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px white;
}
@media (max-width: 668px) {
  .car-card {
    width: 70% !important;
    height: 700px !important;
    margin-top: 100px !important;
    z-index: 1 !important;
  }
  .model-details {
    width: 80% !important;
    margin-left: 40px !important;
  }
  .model-box {
    width: 100px !important;
    height: 145px !important;
  }
  p {
    font-size: 14px !important;
  }
  .background-car {
    width: 430px !important;
    height: 120% !important;
  }
}
